<form [formGroup]="formMaterial">
  <h1>Form con Angular Material</h1>
  <mat-form-field appearance="fill">
    <mat-label>
      Name: {{ formMaterial.get('name').value }}
    </mat-label>
    <input
    matInput
    [class.is-Valid] = "validatorFieldBasicForm.isFieldIsValidFormGroup(formMaterial, 'name')"
    [class.is-inValid] = "validatorFieldBasicForm.isFieldIsInvalidFormGroup(formMaterial, 'name')"
    type = "text"
    formControlName = "name"/>
    <mat-icon matSuffix *ngIf="validatorFieldBasicForm.isFieldIsValidFormGroup(formMaterial, 'name')">done</mat-icon>
    <mat-icon matSuffix *ngIf="validatorFieldBasicForm.isFieldIsInvalidFormGroup(formMaterial, 'name')">close</mat-icon>
  </mat-form-field>

  <div class="messages" [class.active] = "validatorFieldBasicForm.isFieldIsInvalidFormGroup(formMaterial, 'name')">
    <mat-error *ngIf="formMaterial.get('name').hasError('required')">Este campo es requerido.</mat-error>
    <mat-error *ngIf="formMaterial.get('name').hasError('maxlength')">Este campo solo permite tener 10 caracteres.</mat-error>
    <mat-error *ngIf="formMaterial.get('name').hasError('pattern')">Este campo no debe tener caracteres.</mat-error>
  </div>


  <mat-form-field appearance="fill">
    <mat-label>
      email: {{ formMaterial.get('email').value }}
    </mat-label>
    <input
    matInput
    [class.is-Valid] = "validatorFieldBasicForm.isFieldIsValidFormGroup(formMaterial, 'email')"
    [class.is-inValid] = "validatorFieldBasicForm.isFieldIsInvalidFormGroup(formMaterial, 'email')"
    type = "email"
    formControlName = "email"
    placeholder="example@correo.com"/>

    <mat-icon matSuffix *ngIf="validatorFieldBasicForm.isFieldIsValidFormGroup(formMaterial, 'email')">done</mat-icon>
    <mat-icon matSuffix *ngIf="validatorFieldBasicForm.isFieldIsInvalidFormGroup(formMaterial, 'email')">close</mat-icon>
  </mat-form-field>

  <div class="messages" [class.active] = "validatorFieldBasicForm.isFieldIsInvalidFormGroup(formMaterial, 'email')">
    <mat-error *ngIf="formMaterial.get('email').hasError('required')">Este campo es requerido.</mat-error>
    <mat-error *ngIf="formMaterial.get('email').hasError('email')">Este campo no tiene el formato correcto.</mat-error>
  </div>


  <mat-form-field appearance="fill">
    <mat-label>
      phone: {{ formMaterial.get('phone').value }}
    </mat-label>
    <input
    matInput
    [class.is-Valid] = "validatorFieldBasicForm.isFieldIsValidFormGroup(formMaterial, 'phone')"
    [class.is-inValid] = "validatorFieldBasicForm.isFieldIsInvalidFormGroup(formMaterial, 'phone')"
    type = "text"
    formControlName = "phone"/>
    <mat-icon matSuffix *ngIf="validatorFieldBasicForm.isFieldIsValidFormGroup(formMaterial, 'phone')">done</mat-icon>
    <mat-icon matSuffix *ngIf="validatorFieldBasicForm.isFieldIsInvalidFormGroup(formMaterial, 'phone')">close</mat-icon>
  </mat-form-field>

  <div class="messages" [class.active] = "validatorFieldBasicForm.isFieldIsInvalidFormGroup(formMaterial, 'phone')">
    <mat-error *ngIf="formMaterial.get('phone').hasError('required')">Este campo es requerido.</mat-error>
    <mat-error *ngIf="formMaterial.get('phone').hasError('maxlength')">Este campo solo permite tener 10 caracteres.</mat-error>
    <mat-error *ngIf="formMaterial.get('phone').hasError('pattern')">Este solo debe capturar números.</mat-error>
  </div>
</form>




<form [formGroup]="form">
 <h1>Form Group:</h1>

  <p>

    phone: {{ form.get('name').value }}

    <input
    [class.is-Valid] = "validatorFieldBasicForm.isFieldIsValidFormGroup(form, 'name')"
    [class.is-inValid] = "validatorFieldBasicForm.isFieldIsInvalidFormGroup(form, 'name')"
    type = "text"
    formControlName = "name"/>

    <button [disabled]="validatorFieldBasicForm.isFieldIsInvalidFormGroup(form, 'name')" (click) = "getNameValue()">Get value</button>
  </p>

  <div class="messages" [class.active] = "validatorFieldBasicForm.isFieldIsInvalidFormGroup(form, 'name')">
    <p>
      <strong *ngIf="form.get('name').hasError('required')">Este campo es requerido.</strong>
    </p>
    <p>
      <strong *ngIf="form.get('name').hasError('maxlength')">Este campo solo permite tener 10 caracteres.</strong>
    </p>
    <p>
      <strong *ngIf="form.get('name').hasError('pattern')">Este campo no debe tener caracteres.</strong>
    </p>
  </div>


<p>
  email: {{ form.get('email').value }}

  <input
  [class.is-Valid] = "validatorFieldBasicForm.isFieldIsValidFormGroup(form, 'email')"
  [class.is-inValid] = "validatorFieldBasicForm.isFieldIsInvalidFormGroup(form, 'email')"
  type = "email"
  formControlName = "email"
  placeholder="example@correo.com"/>

</p>

<div class="messages" [class.active] = "validatorFieldBasicForm.isFieldIsInvalidFormGroup(form, 'email')">
  <p>
    <strong *ngIf="form.get('email').touched && form.get('email').hasError('required')">Este campo es requerido.</strong>
  </p>
  <p>
    <strong *ngIf="form.get('email').touched && form.get('email').hasError('email')">Este no tiene el formato correcto.</strong>
  </p>
</div>

<p>
  phone: {{ form.get('phone').value }}

  <input
  [class.is-Valid] = "validatorFieldBasicForm.isFieldIsValidFormGroup(form, 'phone')"
  [class.is-inValid] = "validatorFieldBasicForm.isFieldIsInvalidFormGroup(form, 'phone')"
  type = "tel"
  formControlName = "phone"
  />
</p>


<div class="messages" [class.active] = "validatorFieldBasicForm.isFieldIsInvalidFormGroup(form, 'phone')">
  <p>
    <strong *ngIf="form.get('phone').touched && form.get('phone').hasError('required')">Este campo es requerido.</strong>
  </p>
  <p>
    <strong *ngIf="form.get('phone').touched && form.get('phone').hasError('maxlength')">Este campo solo permite tener 10 caracteres.</strong>
  </p>
</div>


<p>

  IP: {{ form.get('ipAddress').value }}

    <input
    [class.is-Valid] = "validatorFieldBasicForm.isFieldIsValidFormGroup(form, 'ipAddress')"
    [class.is-inValid] = "validatorFieldBasicForm.isFieldIsInvalidFormGroup(form, 'ipAddress')"
    type = "text"
    formControlName = "ipAddress"
    placeholder="255.255.255.255"
    />

    <button [disabled]="validatorFieldBasicForm.isFieldIsInvalidFormGroup(form, 'ipAddress')" (click) = "getNameValue()">Get value</button>
  </p>

  <div class="messages" [class.active] = "validatorFieldBasicForm.isFieldIsInvalidFormGroup(form, 'ipAddress')">
    <p>
      <strong *ngIf="form.get('ipAddress').hasError('required')">Este campo es requerido.</strong>
    </p>
    <p>
      <strong *ngIf="form.get('ipAddress').hasError('pattern')">Este campo no tiene el formato correcto.</strong>
    </p>
  </div>
</form>

<h1>Campos Normales</h1>
<p>
  name: {{ nameField.value }}

  <input
  [class.is-Valid] = "validatorFieldBasicForm.isFieldIsValid(nameField)"
  [class.is-inValid] = "validatorFieldBasicForm.isFieldIsInvalid(nameField)"
  type = "text"
  [formControl] = "nameField"/>

</p>

<div class="messages" [class.active] = "validatorFieldBasicForm.isFieldIsInvalid(nameField)">
  <p>
    <strong *ngIf="nameField.touched && nameField.hasError('required')">Este campo es requerido.</strong>
  </p>
  <p>
    <strong *ngIf="nameField.touched && nameField.hasError('maxlength')">Este campo solo permite tener 10 caracteres.</strong>
  </p>
</div>



<p>
  email: {{ emailField.value }}

  <input
  [class.is-Valid] = "validatorFieldBasicForm.isFieldIsValid(emailField)"
  [class.is-inValid] = "validatorFieldBasicForm.isFieldIsInvalid(emailField)"
  type = "email"
  [formControl] = "emailField"
  placeholder="example@correo.com"/>

</p>

<div class="messages" [class.active] = "validatorFieldBasicForm.isFieldIsInvalid(emailField)">
  <p>
    <strong *ngIf="emailField.touched && emailField.hasError('required')">Este campo es requerido.</strong>
  </p>
  <p>
    <strong *ngIf="emailField.touched && emailField.hasError('email')">Este no tiene el formato correcto.</strong>
  </p>
</div>

<p>
  phone: {{ phoneField.value }}

  <input
  [class.is-Valid] = "validatorFieldBasicForm.isFieldIsValid(phoneField)"
  [class.is-inValid] = "validatorFieldBasicForm.isFieldIsInvalid(phoneField)"
  type = "tel"
  [formControl] = "phoneField"/>
</p>


<div class="messages" [class.active] = "validatorFieldBasicForm.isFieldIsInvalid(phoneField)">
  <p>
    <strong *ngIf="phoneField.touched && phoneField.hasError('required')">Este campo es requerido.</strong>
  </p>
  <p>
    <strong *ngIf="phoneField.touched && phoneField.hasError('maxlength')">Este campo solo permite tener 10 caracteres.</strong>
  </p>
</div>

<p>
  date: {{ dateField.value }}

  <input type = "date" [formControl] = "dateField"/>
</p>

<p>
  color: {{ colorField.value }}

  <input type = "color" [formControl] = "colorField"/>
</p>

<p>
  range: {{ rangeField.value }}

  <input type = "range" [formControl] = "rangeField"/>
</p>

<p>
  category: {{ categoryField.value }}

 <select [formControl] = "categoryField">
  <option value = "value1">Valor 1</option>
  <option value = "value2">Valor 2</option>
  <option value = "value3">Valor 3</option>

 </select>

</p>

<p>
  tag: {{ tagField.value }}

 <select [formControl] = "tagField" multiple>
  <option value = "tag1">Valor 1</option>
  <option value = "tag2">Valor 2</option>
  <option value = "tag3">Valor 3</option>

 </select>

</p>

<p>
  Grupos: {{ radioField.value }}
  <label>
    Opcion1
  <input type = "radio" name = "group1" value="Opcion1" [formControl] = "radioField"/>

  </label>
  <label>
    Opcion2
  <input type = "radio" name = "group1" value="Opcion2" [formControl] = "radioField"/>
  </label>
  <label>
    Opcion3
    <input type = "radio" name = "group1" value="Opcion3" [formControl] = "radioField"/>
  </label>
</p>


<p>
  Category: {{ radioCatField.value }}
  <label>
    Category1
  <input type = "radio" name = "category" value="Category1" [formControl] = "radioCatField"/>

  </label>
  <label>
    Category2
  <input type = "radio" name = "category" value="Category2" [formControl] = "radioCatField"/>
  </label>
  <label>Category3
    <input type = "radio" name = "category" value="Category3" [formControl] = "radioCatField"/>
  </label>
</p>
